*{
    padding: 0;
    margin: 0;

   
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    height: 450px;
    width: 350px;
    border: 5px solid aqua;
    padding: 10px;
    border-radius: 10px;
    background:linear-gradient(to left,rgb(0, 0, 0),rgb(138, 49, 22));

}
input{
    height: 40px;
    width: 92%;
    margin-left: 4%;
    margin-top: 30px;
    border: solid aqua;
}
#buttons{
    margin-top: 20px;
}
button{
    margin: 10px;
    height: 50px;
    width: 50px;
    font-size: 20px;
    margin-left: 23px;
    margin-top: 10px;
    border: solid aqua;

    
}